<div class="courses-container">
  <div class="courses-header">
    <h2>Available Courses</h2>
    <button *ngIf="isAdminView" mat-raised-button color="primary" (click)="openAddCourseDialog()">
      <mat-icon>add</mat-icon> Add New Course
    </button>
  </div>

  <div class="courses-grid courses-flex-start">
    <mat-card *ngFor="let course of courses; let i = index" class="course-card">
      <mat-card-header>
        <mat-card-title>{{ course.title }}</mat-card-title>
        <!-- Conditionally render the status tag -->
        <mat-chip-listbox *ngIf="isAdminView">
          <mat-chip [ngClass]="course.status">{{ course.status }}</mat-chip>
        </mat-chip-listbox>
      </mat-card-header>
  
      <mat-card-content>
        <!-- Display Course Image -->
        <img *ngIf="course.image" [src]="course.image" alt="{{ course.title }}" style="max-width: 100%; height: auto; margin-bottom: 16px;">
        <p><strong>Instructor:</strong> {{ course.instructor }}</p>
        <p><strong>Category:</strong> {{ course.category }}</p>
        <p><strong>Course Duration:</strong> {{ course.duration }}</p>
        <p><strong>Description:</strong> {{ course.description }}</p>
        <div *ngIf="course.features && course.features.length">
          <p><strong>Features:</strong></p>
          <ul>
            <strong><li *ngFor="let feature of course.features">{{ feature }}</li></strong>
          </ul>
        </div>
        <!-- Conditionally render start date and end date -->
        <p *ngIf="isAdminView"><strong>Start Date:</strong> {{ course.startDate }}</p>
        <p *ngIf="isAdminView"><strong>End Date:</strong> {{ course.endDate }}</p>
      </mat-card-content>
  
      <!-- Conditionally render edit and delete buttons for admin view -->
      <mat-card-actions *ngIf="isAdminView">
        <button mat-button color="accent" (click)="editCourse(i)">
          <mat-icon>edit</mat-icon> Edit
        </button>
        <button mat-button color="warn" (click)="deleteCourse(i)">
          <mat-icon>delete</mat-icon> Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>