.profiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.profile-container {
  flex: 1 1 calc(33.333% - 32px);
  box-sizing: border-box;
  max-width: calc(33.333% - 32px);
}

@media (max-width: 900px) {
  .profile-container {
    flex: 1 1 calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

@media (max-width: 600px) {
  .profile-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}